/* ------------- new ui css------ */
.container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    font-family: "Inter", sans-serif;
  }
  
  /* Header Section */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 15px;
    /* flex-wrap: wrap; */
    gap: 10px;
  }
  
  .avatar {
    width: 120px;              /* control size of the avatar */
    height: 120px;
    border-radius: 50%;        /* circular shape */
    overflow: hidden;          /* prevents image overflow */
    border: 3px solid #ddd;    /* optional border */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8; /* fallback bg color */
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;         /* ensures image fills circle properly */
    border-radius: 50%;
    display: block;
  }
  
  .details {
    flex: 1;
    margin-left: 20px;
  }
  
  .name {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
  }
  
  .email {
    color:black;
    margin: 5px 0;
  }
  
  .city {
    color: black;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
  
  .editBtn,
  .downloadBtn {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 20px;
    padding: 6px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
    
  }
  
  .editBtn:hover,
  .downloadBtn:hover {
    background-color: #f5f5f5;
  }
  
  .statusBadge {
    background-color: #d5f5e3;
    color: #1b8a41;
    border-radius: 20px;
    padding: 6px 12px;
    font-weight: 500;
    cursor: pointer;
    
  }
  .statusBadgeReject {
    background-color: red;
    color: black;
    border-radius: 20px;
    padding: 6px 12px;
    font-weight: 500;
    cursor: pointer;
    height: 24px;
    width: 124px;
    
  }

  
  /* Tabs */
  .tabs {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    border-bottom: 2px solid #f0f0f0;
    flex-wrap: wrap;
  }
  
  .tabBtn {
    background: none;
    border: none;
    font-size: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    color: #555;
  }
  
  .activeTab {
    font-weight: 600;
    color: #000;
    border-bottom: 3px solid #007bff;
  }
  
  /* Content */
  .content {
    margin-top: 25px;
  }
  
  .infoSection,
  .educationSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Text styles */
  .centerText {
    text-align: center;
  }
  
  .errorText {
    color: red;
    text-align: center;
  }
  .aprovedStatus{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    .header {
      /* flex-direction: column; */
      align-items: center;
      text-align: center;
    }
  
    .details {
      margin-left: 0;
    }
  
    .actions {
      align-items: center;
    }
  
    .tabs {
      justify-content: center;
      gap: 10px;
    }
  
    .tabBtn {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .avatar {
      width: 70px;
      height: 70px;
      margin-left:32%;
    }
  
    .name {
      font-size: 20px;
    }
  
    .editBtn,
    .downloadBtn {
      font-size: 13px;
      padding: 5px 12px;
    }
  }
  




/* -------- new ui css ends-------- */
.readPageBackBtn{
    background-color: rgb(40, 4, 99);
    color: white;
    border: none;
    padding: 7px 15px 10px 13px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.0rem;
    margin-left: 6px;
    height: 33px;
    width: 62px;
    margin-right: 20px;
}
.tvbackbtn {
    background-color: rgb(40, 4, 99);
    color: white;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -25px;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 3px;
    align-self: flex-start; /* ensures it's aligned left */
    margin-top: 10px;
  }
.jobdetailBackBtn{
    background-color: rgb(40, 4, 99);
    color: white;
    border: none;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.0rem; 
    margin-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    gap:6px;  
}
.validateBtn{
    background-color: rgb(40, 4, 99);
    color: white;
    border: none;
    /* padding: 10px 15px 10px 15px; */
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    width: 60px;
    padding: 7px;
    margin-top: 10px;
}

.validateBtnMobile{
    background-color: rgb(40, 4, 99);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    width: 160px;
    margin-top: 10px;
    height: 25px;
}

.imgBgv{
   display:flex;
   justify-content:space-between;
   margin-right:400px;
}
.puff-loader {
    margin-top: 20px;
    margin-right: 300px;
  }



@media(max-width:475px){
    .imgBgv{
        margin-right:20px;
     }
}
.jobdetailBackBtnMobile{
    background-color: rgb(40, 4, 99);
    color: white;
    border: none;
    /* padding: 10px 15px 10px 15px; */
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    width: 53px;
    padding: 7px;
    margin-top: 10px;
}


.NavConetenetWrapper{
    display: flex;
    align-items: center;
    position: sticky;
    top:10px;
    z-index: 100;
    width:50%;
    margin-left: 28%;

}

.LocationFilterWrapper{
    z-index: 100;
    /* width:180px; */
    padding: 8px 10px;
    margin-top: -47.5px;
    margin-left: 40px;
    cursor: pointer;
    font-weight: 600;
    align-content: center;
    border: none;
    border-radius: 3px;
    color: white;
    /* background-color: red; */
}


.imageV{
    height:100px;
    width:100px;
    border-radius: 180%;
    margin-left: 7%;
    margin-top: 10px;
    /* background-color: aqua; */
}
.deletProfile{
    margin-left:87%;
background-color: red;
color: white;
border: none;
padding: 5px 10px;
border-radius: 5px;
position:absolute;
margin-top: -30px;

}
.updateProfile{
    /* background-color: rgb(40, 4, 99); */
    background:rgb(242, 244, 245);

     position:absolute;
     padding:12px;
     margin-left:74%;
     margin-top:-80px;
     border: 1px solid ;
     color:rgb(40, 4, 99);;
     font-weight: 600;
     border-radius: 25px;
     cursor: pointer;
}

.updateProfileStd{
    /* background-color: rgb(40, 4, 99); */
    background:rgb(242, 244, 245);
     padding:12px;
     border: 1px solid ;
     color:rgb(40, 4, 99);;
     font-weight: 600;
     border-radius: 25px;
     cursor: pointer;
}


.updatebgvContainer{
   display:flex;
   gap:5px;
   align-items:center;
   flex-wrap:wrap;
}

.bgvBtn{height:31px;padding-top:7px;}

@media(max-width:475px){
    .updatebgvContainer{
        margin-left: 106px;
     }
     .bgvBtn{height:41px;padding-top:7px;}
}

@media(max-width:376px){
    .updatebgvContainer{
        margin-left: 60px;
     }
}

@media(max-width:320px){
    .updatebgvContainer{
        margin-left: 16px;
     }
}


.updateProfile:hover{
    background:rgb(242, 244, 245);

     position:absolute;
     padding:12px;
     margin-left:74%;
     margin-top:-80px;
     border: 1px solid grey ;
     color:rgb(40, 4, 99);
     font-weight: 600;
     border-radius: 25px;
     cursor: pointer;
}

.uiwrapper{
    display: flex;
}

.ul{
    text-decoration: none;
    margin-left: 2%;
    width:20%;


}
.ulR{
    text-decoration: none;
    margin-left: -4%;
    width:20%;
}

.li{
    display: flex;
    flex-wrap: nowrap;
    border : 1px solid rgb(215, 223, 226);
    width:120%;
    text-align: center;
    display: inline-block;
    padding: 2%;
    margin-left: -10px;

}

.driveAlerti {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(40, 4, 99);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    text-align: center;
    right: -21%;
    top: -1%;
  }
  
  .jobIdesc {
    position: absolute;
    top: 30px;
    left: 0;
    width: 260px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    font-size: 13px;
    z-index: 10;
  }
  .skillsValue {
    white-space: pre-wrap;
    word-break: break-word;
  }
  
  .driveIdesc {
    position: absolute;
    top: 19px;
      right: -128px;
    width: 260px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    font-size: 13px;
    z-index: 10;
  }
.Hli{    
    display: flex;
    flex-wrap: nowrap;
    /* border: 1px solid aqua; */
    border : 1px solid rgb(215, 223, 226);
    border-left: none;
    width:350%;
    text-align: center;
    display: inline-block;
    padding: 2%;
}

.li:nth-child(odd){
    background:rgb(242, 244, 245)

}

.Hli:nth-child(odd){
    /* background-color: aqua; */
    background:rgb(242, 244, 245)

}
.Nli{
    display: block;
    color: red;
}
/* employee proile.............. */
.EmpImage{
    height:100px;
    width:100px;
    margin-left:8%;
    margin-top:2%
}

/* admin check approval */
.Approved{
    background-color: green;
    color: white;
    font-weight: bold;
    width:82px;
    border: 1px solid green;
    height: 23px;
}
.Approve{
    background-color: rgb(40, 4, 99);
    height: 23px;
    color: white;
    font-weight: bold;
    width:78px;
    border: 1px solid  rgb(40, 4, 99);
}
.Approval{
    height: 23px;
}
.DeleteButton{
    background-color: red;
    border:1px solid red;
    color: white;
    width:62px;
    height: 22px;
    font-weight: bold;
}

/* .....For Mobile....... */

.MobupdateProfile{
    background:rgb(242, 244, 245);

    position:absolute;
    padding:9px;
    margin-left:55%;
    margin-top:-80px;
    border: none;
    /* color:rgb(40, 4, 99);; */
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;

}



#JobCardWrapper {
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 10px;
    /* background-color: rgb(204, 103, 103); */
    border-radius: 10px;
    /* margin-left: 40px;     */
    width: 90%;

}

.JobCard {
    /* display: flex; */
    /* background-color: aqua;    */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    /* height: 250px; */
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 2px 2px #999999;
    padding-bottom: 6px;
}
.LeftTable{
    margin-left: 7px;
    margin-top: 20px;
overflow:hidden;

    /* background-color: blue; */
    /* width:200%; */
}
.RightTable{
    margin-top: 20px;
    margin-left: 5px;
    width:60%;

overflow:hidden;

    /* background-color: aqua; */
}

.MobileimageView{
    height:30px;
    width:40px;
    margin-left: 1%;
    margin-top: 15px;
}
.span{
    font-weight: 500;
    font-size: small;
}
.Down{
    margin-left: 10px;
    overflow-wrap: break-word;


}
.Rejected{
    background-color: red;
    color: white;
    font-weight: bold;
    width:78px;
    border: 1px solid green;
    height: 23px;
}
.MobileApproved{
    background-color: green;
    color: white;
    font-weight: bold;
    width:52px;
    border: 1px solid green;
    height: 23px;
}
.MobileApprove{
    background-color: rgb(40, 4, 99);
    height: 23px;
    color: white;
    font-weight: bold;
    width:58px;
    border: 1px solid  rgb(40, 4, 99);
}
/* Upload Card */
.youtubeCard {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 16px;
  padding: 20px;
  min-height: 220px;
  border: 1px solid #eee;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  cursor: pointer;
}

/* Blue Upload Button */
.uploadBtnBlue {
  background: rgb(40,4,99);
  color: white;
  padding: 12px 35px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

/* Drag drop text */
.dropText {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
}

/* Video Preview */
.videoPreview {
  width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 12px;
  border: 1px solid #ccc;
  object-fit: cover;
}

/* Green Upload Button */
.uploadBtnGreen {
  margin-top: 20px;
  padding: 12px 30px;
  background: rgb(40,4,99);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;

  width: 100%;
  max-width: 300px;
  text-align: center;
}

/* Loader text */
.loadingText {
  color: blue;
  margin-top: 10px;
}

/* Error message */
.errorTextRed {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

/* Success URL */
.successUrl {
  margin-top: 20px;
  font-size: 14px;
}

/* Wrapper around preview */
.previewWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Remove Video UI */
.removeVideoBtn {
  margin-top: 12px;
  padding: 8px 20px;
  background: #e41313;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.removeVideoBtn:hover {
  background: #e41313;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .youtubeCard {
    padding: 15px;
    border-radius: 12px;
  }
  .uploadBtnBlue {
    width: 100%;
    font-size: 16px;
  }
  .uploadBtnGreen {
    width: 100%;
  }
}

@media (max-width: 475px) {
  .youtubeCard {
    width:90%;
  }

}