.jobdetailBackBtnContainer{
    background-color: rgb(40, 4, 99);
    color: white;
    border: none;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.0rem; 
    margin-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    gap:3px;

}
.resumebackbtn {
  background-color: rgb(40, 4, 99);
  color: white;
  border: none;
  padding: 0px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: -25px;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 3px;
  align-self: flex-start; /* ensures it's aligned left */
  margin-top: 10px;
}
.backbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
  }
  
.updatebtn{
   display:flex; 
   align-items:center;
   justify-content:center;
   font-size: 14px; 
   font-weight: 500;
}
@media (max-width: 768px) {
    .jobdetailBackBtnContainer{
        height:23px;   
        margin-left: 8px;
    }
    .backbtn {
        font-size: 10px;
      }
      
    
    .updatebtn{
        font-size: 10px;
    }
  }