/* 
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .container h1,
  .container h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    display: block;
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  button {
    margin-top: 5px;
    padding: 8px 14px;
    background-color: rgb(40, 4, 99);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .section {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
   */
   .tvbackbtn {
    background-color: rgb(40, 4, 99);
    color: white;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -25px;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 3px;
    align-self: flex-start; /* ensures it's aligned left */
    margin-top: 25px;
  }
  .popup {
    width: 300px;
    padding: 20px;
    background-color: rgb(40, 4, 99);
    color: white;
    font-size: 12px;
    border-radius: 5px;
    position: fixed;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  @media(max-width:475px){
    .popup{
      top:19%;
    }
  }