.resumeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.templateTwo {
  background: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  width: 239mm;
  min-height: 297mm;
  border: 1px solid #ccc;
  padding: 20px 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 35px;
}

/* Header - single row */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2F2F2F;;
  padding-bottom: 10px;
}

.headerLeft {
  flex: 1 1 33%;
}

.headerCenter {
  flex: 0 0 150px;
  display: flex;
  justify-content: center;
}

.headerRight {
  flex: 1 1 33%;
  text-align: right;
  font-size: 14px;
}

.name {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}

.objective {
  font-size: 14px;
  line-height: 1.4;
  margin-right: 10px;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2F2F2F;;
}

.noImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Body */
.body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.left {
  flex: 1 1 60%;
}

.right {
  flex: 1 1 35%;
}

section {
  margin-bottom: 15px;
}

h3 {
  font-size: 15px;
  color: #2F2F2F;;
  font-weight: 800;
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
  margin: 0;
}

.downloadContainer {
  text-align: center;
  margin-top: 20px;
}

.downloadButton {
  background: #2F2F2F;;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.downloadButton:hover {
  background: #0056b3;
}

/* Education Section */
.educationSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.educationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px dashed #ccc; */
  padding: 6px 0;
  font-size: 14px;
}

.educationLeft {
  font-weight: 600;
  color: #333;
}

.educationRight {
  text-align: right;
  font-size: 13px;
  color: #555;
}

/* Skills Section */
.skillsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.skillTag {
  background-color: #2F2F2F;
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 7px;
  display: inline-block;
  transition: background 0.2s ease;
}
.personalTag{
  /* background-color: #2F2F2F; */
  /* color: #fff; */
  font-size: 13px;
  padding: 5px 10px;
  /* border-radius: 7px; */
  /* border: 2px solid #2F2F2F; */
  display: inline-block;
  transition: background 0.2s ease;
  
}
.skillTag:hover {
  background-color: #0056b3;
}

/* Always show desktop view even on mobile */
@media (max-width: 768px) {
  .resumeContainer {
    transform-origin: top center;
    transform: scale(0.78);
  }
  .downloadContainer {
    margin-left: 0%;
  }
}

@media (max-width: 475px) {
  .resumeContainer {
    transform-origin: top center;
    transform: scale(0.42);
  }
  .downloadContainer {
    margin-left: 1%;
  }
}

@media (max-width: 376px) {
  .resumeContainer {
    transform-origin: top center;
    transform: scale(0.375);
  }
  .downloadContainer {
    margin-left: 2%;
  }
}

@media (max-width: 320px) {
  .resumeContainer {
    transform-origin: top center;
    transform: scale(0.325);
  }
  .downloadContainer {
    margin-left: 3%;
  }
}

.forceA4 {
  width: 210mm !important;
  min-height: 297mm !important;
  border: none !important;
  box-shadow: none !important;
}
